{{- $Width := 0 -}}
{{- $Height := 0 -}}
{{/* SVG and external images won't work with gallery layout, because their width and height attributes are unknown */}}
{{- $galleryImage := false -}}
{{ if .Get "src" }}
  {{ $original := .Page.Resources.GetMatch (.Get "src") }}
  {{ if $original }}
    {{ $newWidth := .Get "width" | default "100" | strings.TrimSuffix "%" | int }}
    {{ $resized := $original.Process "webp q60" }}
    {{- $notSVG := ne (path.Ext $original.RelPermalink) ".svg" -}}
    {{- if $notSVG -}}
        {{- $Width = (div (mul $original.Width $newWidth) 100) -}}
        {{- $Height = (div (mul $original.Height $newWidth) 100) -}}
        {{- $galleryImage = true -}}
    {{- end -}}
    <picture>
        <source type="image/webp" srcset="{{ $resized.RelPermalink }}" alt="{{ .Get "alt" }}" style="width: {{ $newWidth }}%; display: block;" >
        <source type="image/png" srcset="{{ $original.RelPermalink }}" alt="{{ .Get "alt" }}" style="width: {{ $newWidth }}%; display: block;">
        <img loading="lazy" src="{{ $original.RelPermalink }}" alt="{{ .Get "alt" }}" decoding="async" {{ with $Width }} width="{{ . }}" {{ end }} {{ with $Height }}height="{{ . }}" {{ end }} {{ if $galleryImage }} class="gallery-image" data-flex-grow="{{ div (mul $Width 100) $Height }}" data-flex-basis="{{ div (mul $Width 240) $Height }}px" {{ end }} >
    </picture>
  {{ end }}
{{ end }}
